form {
    margin-left: 10rem;
}

input {
    background-color: #212529;
    border-bottom: 2px solid #3e454d;
    border-top: none;
    border-right: none;
    border-left: none;
    color: white;
}

textarea {
    background-color: #212529;
    border: 2px solid #3e454d;
    color: white;
}

button {
    margin-top: 1rem;
    background-color: #3e454d;
    color: rgba(255, 255, 255, 0.8);
    justify-self: end;
    border: none;
    font-size: 0.8rem;
}

select, option {
    background-color: #3E454D;
}

::placeholder {
    opacity: 1;
    color: rgba(145, 167, 192, 0.5);
}

.label {
    color: #86C232;
    font-size: 2rem;
    padding-bottom: 1rem;
}

.form-container {
    margin-top: 5rem;
    text-align: left;
}

.custom-select {
    background-color: rgba(255, 255, 255, 0);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #3e454d;
    color: white;
    width: auto;
    height: auto;
    padding: 0px;
}

.masters {
    margin-top: 5rem;
}

.submit-button {
    background-color: #86C232;
    margin-top: 3rem;
}

.email-container {
    background-color: #3E454D;
    border: 1px solid #86C232;
    margin-top: 3rem;
    display: none;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    justify-items: center;
    margin-bottom: 1rem;

}

.email-body,
.email-subject,
.email-distro {
    border: 1px solid #3e454d;
    background-color: #3E454D;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: left;
}

.email-subject,
.email-body,
.email-distro {
    text-align: left;
    color: white;
    overflow-wrap: break-word;
    margin-bottom: 1rem;
    justify-self: start;
    border-bottom: 1px solid #000;
}