.card-container {
    margin-top: 3em;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.card {
    margin-bottom: 1em;
    background-color: #1a1a1d;
    color: #6F2232;
    font-style: italic;
    font-weight: 600;
}

.card-img-top {
    height: 429px;
    background-color: black;
}

.btn-primary {
    background-color: #86C232;
    border: none;
}