form {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
}

.btn-primary {
    background-color: #86C232;
    border: none;
}

#welcome {
    color: #6F2232;
    font-size: 2em;
    margin-bottom: 0.5em;
}