{% extends "layout.html" %}

{% block title %}
    Email
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="../static/styles/email-style.css">
{% endblock %}

{% block body %}
    <main>
        <div class="container">
            <div class="row">
                <div class=" col">
                    <div class="card" style="width: 15rem;" id="br-card">
                        <a href="/generator/break/{{project_id}}"> 
                            <img class="card-img-top" src="{{ url_for('static', filename='images/breakCard.png') }}" alt="poster">
                            <div class="card-body">
                                <h5 class="card-title">Break/Wrap</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 15rem;" id="comp-card">
                            <a href="/generator/complete/{{project_id}}">
                                <img class="card-img-top" src="../static/images/compCard.png" alt="poster">
                                <div class="card-body">
                                    <h5 class="card-title">Complete</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="width: 15rem;" id="wr-card">
                            <a href="/generator/distro/{{project_id}}">
                                <img class="card-img-top" src="../static/images/WrapCard.png" alt="poster">
                                <div class="card-body">
                                    <h5 class="card-title">Distro</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
        </div>
    </main>
{% endblock %}