{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index-style.css') }}">
{% endblock %}

{% block body %}
    <main>
        <div class="card-container">
            <div class="row">
                {% for item in projects %}
                    <div class=" col">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="{{ url_for('static', filename='images/posters/') }}{{item[1]}}.png" alt="{{ item[1] }} poster">
                            <div class="card-body">
                                <h5 class="card-title">{{ item[1] }}</h5>
                                <a href="/dashboard/{{ item[0] }}" class="btn btn-primary">Create</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}