<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- custome stylesheet -->
    <link rel="stylesheet" href="styles/index-style.css">
    <!-- jquery CDN -->
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
    </script>
    <title>DISTRO | Login</title>
</head>
<body>
    <header>
        <nav class="container">
            <a href="index.html" id="brand">DISTRO</a>
        </nav>
    </header>
    <main>
        <form action="/index" method="POST" class="login-form">
            <h1>Welcome,</h1>
            <input type="text" name="username" id="username" placeholder="Username" autofocus> <br>
            <input type="password" name="pw" id="pw" placeholder="Password"> <br>
            <input type="submit" value="Login">
        </form>
    </main>
</body>
<script src="js/loginvalidation.js"></script>
</html>