{% extends "layout.html" %}

{% block title %}
    Your Shows
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{url_for('static', filename='styles/shows-style.css')}}">
{% endblock %}

{% block body %}
    <main>
        <div id="show-container">
            <table class="table table-striped table-dark">
                {% for project in projects %}
                    <tr>
                        <td class="show-title">{{project[1]}}</td>
                        <td class="edit-data"><a href="/shows/edit/{{project[0]}}"><button type="button" class="btn btn-warning">Edit</button></a></td>
                    </tr>
                {% endfor %}
            </table>
             <a href="/account"><button type="button" class="btn btn-success">Done</button></a> 
        </div>
    </main>
{% endblock %}